<section id="realTimeProducts">
    <h1>Productos en tiempo real</h1>
    <form class="products-form" id="formProduct">
        <div id="fe-title" class="formElement">
            <label for="title" class="form-label">Nombre del producto</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="title" id="title" required>
            </div>
        </div>
        <div id="fe-price" class="formElement">
            <label for="price" class="form-label">Precio</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="number" name="price" id="price" required>
            </div>
        </div>
        <div id="fe-imgUrl" class="formElement">
            <label for="imgUrl" class="form-label">URL Imagen</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="imgUrl" id="imgUrl" required>
            </div>
        </div>
        <div id="fe-code" class="formElement">
            <label for="code" class="form-label">Codigo</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="code" id="code" required>
            </div>
        </div>
        <div id="fe-category" class="formElement">
            <label for="category" class="form-label">Categoria</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="text" name="category" id="category" required>
            </div>
        </div>
        <div id="fe-stock" class="formElement">
            <label for="stock" class="form-label">Stock</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <input class="form-control" type="number" name="stock" id="stock" required>
            </div>
        </div>
        <div id="fe-description" class="formElement">
            <label for="description" class="form-label">Descripcion</label>
            <div class="input-group">
                <span class="input-group-span"><i class="input-group-icon"></i></span>
                <textarea class="form-control" name="description" id="description" required></textarea>
            </div>
        </div>
        <div id="fe-status" class="formElement">
            <div class="form-check">
                <label class="form-check-label" for="statusCheck">Estado</label>
                <input name="status" class="form-check-input" type="checkbox" id="statusCheck" checked>
            </div>
        </div>
        <div id="fe-btn" class="formElement">
            <button class="form-btn" type="submit" id="add-btn">Registrar</button>
        </div>
    </form>

    <article class="prodList">
    </article>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/assets/js/realTime.js"></script>