#realTimeProducts, #products {
    height: 100%;
    background-color: white;
    
    h1 {
        margin: 1em 0;
        text-align: center;
        font-weight: 500;
    }

    form {
        display: grid;
        margin: 0 2em 2em 2em;
        background-color: #fffed3;
        border-radius: 5px;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(6, auto);
        justify-items: center;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

        .formElement {
            padding: 5px 2em;
            margin: 5px;
            width: 100%;

            .form-label {
                font-size: 1.2em;
                font-weight: 400;
            }

            .input-group {
                input, textarea {
                    width: 100%;
                    padding-left: 12px;
                    height: 2.5em;
                    margin-top: 5px;
                    border: 1px solid #ccc;
                    border-bottom-width: 2px;
                    border-radius: 5px;
                    font-family: "Poppins", sans-serif;
                    font-size: 16px;
                    transition: all .3s ease;

                    &:focus,
                    &:valid {
                        border-color: #7da86b;
                    }
                }

                textarea {
                    height: 7em;
                    margin-top: 5px;
                    padding: 5px 12px;
                    resize: none;
                }
                
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        #fe1 {
            grid-area: 1 / 1 / 2 / span 2;
        }

        #fe2 {
            grid-area: 3 / 1 / 5 / span 3;
        }

        #fe3 {
            grid-area: 1 / 3 / 2 / span 2;
        }

        #fe4 {
            grid-area: 1 / 5 / 2 / span 2;
        }

        #fe5 {
            grid-area: 2 / 1 / 3 / span 2;
        }

        #fe6 {
            grid-area: 2 / 3 / 3 / span 2;
        }

        #fe7 {
            grid-area: 3 / 4 / span 2 / 5;
            display: flex;
            justify-content: center;
            align-items: center;

            .form-check {
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .7em;

                input {
                    position: relative;
                    width: 50px;
                    height: 25px;
                    appearance: none;;
                    background: #ccc;
                    border-radius: 20px;
                    box-shadow: inset 0 0 5px rgb(0,0,0,.2);
                    transition: .5s;
                    z-index: 0;

                    &:hover {
                        cursor: pointer;
                    }

                    &:checked {
                        background: #7da86b;

                        &:before {
                            left: 25px;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        border-radius: 20px;
                        top: 0;
                        left: 0;
                        background: white;
                        transform: scale(1.1);
                        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                        transition: .5s;
                    }
                }

                label {
                    font-size: 1.2em;
                    font-weight: 400;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        #fe8 {
            grid-area: 3 / 5 / span 2 / span 2;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 70%;
                padding: 5px 0;
                height: fit-content;
                border: none;
                border-radius: 3px;
                background-color: #7da86b;
                color: white;
                font-family: "Poppins", sans-serif;
                font-size: 1.1em;
                transition: background-color 0.05s ease-in-out;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background-color: #5a8049;
                }
            }
        }
    }

    .prodList {
        height: fit-content;
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
        grid-auto-rows: auto;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        margin: 2em;
        
        .productCard {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20em;
            height: 34em;
            margin: 1em;
            padding: 1em;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            transition: all .3s ease;
            
            .imgContainer {
                min-height: 12em;
                margin-bottom: 0.5em;

                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }

            h2 {
                margin-bottom: 0.5em;
            }

            ul {
                list-style-type: none;
                margin-bottom: 0.5em;
                overflow-y: scroll;

                li {
                    span {
                        font-weight: 600;
                        text-decoration: underline;
                        color: #7da86b;
                    }
                }

                &::-webkit-scrollbar {
                    width: 0;
                }
            }

            button {
                align-self: center;
                width: 90%;
                padding: 5px 0;
                height: fit-content;
                border: none;
                border-radius: 3px;
                background-color: #d57b7bd9;
                color: white;
                font-family: "Poppins", sans-serif;
                font-size: 1.1em;
                transition: background-color 0.05s ease-in-out;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background-color: #a75252d9;
                }
            }

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}