<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/css/main.css}">
    <title>Document</title>
</head>

<body>
    {{#if isMenu}}
    <nav>
        <a href="/">Home</a>
        <a href="/products">Productos</a>
        <a href="/realTimeProducts">En tiempo real</a>
    </nav>
    {{/if}}
    {{{body}}}
</body>

</html>